h1, h2, h3 {
  font-family: "Segoe UI";
}

body {
  font-family: Verdana;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.greenbox {
  min-width: 400px;
  max-width: 1500px;
  min-height: 50px;
  max-height: 150px;
  overflow: hidden;
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  border-color: #27D426;
  text-indent: 10px;
  background: rgba(180, 255, 171, 0.5);
}
  
.Sample {
  min-width: 400px;
  max-width: 2000px;
  min-height: 50px;
  max-height: 400px;
  font-weight: 400;
  overflow: hidden;
  /*border-style: solid;
  border-width: 45px 15px 45px 15px;
  border-color: #E3E5E1;*/
  text-indent: 25px;
  background-color: #E3E5E1;
  margin: 25px 5px 15px 5px;
}

.inside-sample {
  background: #FFF;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #27D426;
  overflow: hidden;
  margin: 25px 20px 15px 20px;
  min-height: 50px;
  max-height: 200px;
  text-indent: 20px;
}

.inside-sample pre{
  font-family: Consolas, monospace !important;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.p1 {
  font-weight: bold;
}

.btns {
  color: #FFF;
  /*-- border: 1px solid #000; */
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0px;
  padding: 20px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #777876;
  font-family: Verdana,san-serif;
}

li {
    float: left;
}

li a, .drpbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover:hover .drpbtn {
    background-color: #111;
}

li.MORE {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.MORE:hover .dropdown-content {
    display: block;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active2:hover {
  background-color: #4CAF50;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn {
  border: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 12px 28px;
}

.btn.home {
  background-color: #FFF; /* White */
  border: 2px solid #555555;
  float: left;
}

.btn.next {
  background-color: #4CAF50; /* Green */
  float: right;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}

.btn.try {
  float: left;
  background-color: #4CAF50;
  color: white;
  padding: 10px 25px;
  margin: 25px 25px;
}

.btn.getcert {
  float: left;
  background-color: #4CAF50;
  color: white;
  padding: 10px 25px;
  margin: 25px 25px;
}


/*.button1 {*/
//    background-color: #4CAF50; /* Green */
/*    float: right;*/
/*    border: none;*/
/*    color: white;*/
/*    padding: 15px 32px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    font-size: 16px;*/
/*    margin: 4px 2px;*/
/*    cursor: pointer;*/
//    -webkit-transition-duration: 0.4s; /* Safari */
/*    transition-duration: 0.4s;*/
/*}*/

/*.button {*/
//    background-color: #FFF; /* White */
/*    border: 2px solid #555555;*/
/*    float: left;*/
/*    color: black;*/
/*    padding: 15px 32px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    font-size: 16px;*/
/*    margin: 4px 2px;*/
/*    cursor: pointer;*/
/*}*/

/*.home-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #FFF;
}*/

  /* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: green;
}

/* selected link */
a:active {
    color: black;
}





/*.content-box {
  background: rgba(255, 255, 255, 0.9);
  height: 500px;
  margin: 0 auto;
  position: relative;
  top: 220px;
  width: 80%;
  overflow: scroll;
}*/