h1, h2, h3 {
  font-family: "Segoe UI";
}

p {
  font-family: Verdana;
}

.btn {
  color: #FFF;
  /*-- border: 1px solid #000; */
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0px;
  padding: 20px;
  text-decoration: none;
}



.content-box {
  background: rgba(255, 255, 255, 0.9);
  height: 500px;
  margin: 0 auto;
  position: relative;
  top: 220px;
  width: 80%;
  overflow: scroll;
}