h1, h2, h3 {
  font-family: "Segoe UI";
}

p {
  font-family: Verdana;
}

.greenbox {
  min-width: 400px;
  max-width: 600px;
  min-height: 50px;
  max-height: 150px;
  overflow: hidden;
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  border-color: #27D426;
  text-indent: 10px;
  background: rgb(112, 255, 157, 0.5);
  
.Example {
  min-width: 400px;
  max-width: 600px;
  min-height: 50px;
  max-height: 150px;
  overflow: scroll;
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  border-color: #27D426;
  text-indent: 10px;
}

.pgragh {
  font-weight: bold;
}

.btn {
  color: #FFF;
  /*-- border: 1px solid #000; */
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0px;
  padding: 20px;
  text-decoration: none;
}



.content-box {
  background: rgba(255, 255, 255, 0.9);
  height: 500px;
  margin: 0 auto;
  position: relative;
  top: 220px;
  width: 80%;
  overflow: scroll;
}